@font-face {
  font-family: "impactreg";
  src: url("/impactreg/impactreg.eot");
  src: local("impactreg"), url("/impactreg/impactreg.woff") format("woff"),
    url("/impactreg/impactreg.ttf") format("truetype");
}

:root {
  --dark: #4f463e;
  --headline: #b67746;
  --white: #ffffff;
  --lightBrown: #9b8571;
  --light: #ffdfba;
  --lightBlue: #d0e3ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

/*Mobile*/

body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  font-family: "monserrat", Verdana, Geneva, Tahoma, sans-serif;
}

main {
  position: relative;
  z-index: 1;
  color: var(--dark);
}

main a {
  color: var(--dark);
}

header {
  width: 100%;
}

.active {
  text-decoration: underline;
}

.back_button {
  background-image: url(/images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 50px;
  padding-left: 25px;
  position: absolute;
  top: -60px;
  left: 0;
}

.back_button-desktop {
  display: none;
}

.close {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-image: url(/images/icons8-close-50.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: relative;
  background-color: white;
  display: none;
  z-index: 10;
}

.nav_mobile {
  position: absolute;
  max-width: unset;
  width: 100%;
  height: 60vh;
  border-radius: 0 0 10px;
  box-shadow: 3px 3px 20px rgba(79, 70, 62, 0.5);
  -webkit-appearance: none;
  -webkit-box-shadow: 3px 3px 20px rgba(79, 70, 62, 0.5);
}

nav ul {
  width: 50vw;
  max-width: 440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav li {
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 1.5rem;
  color: var(--dark);
}

.search_input {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
}

nav .search {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark);
  font-size: 2rem;
  display: flex;
}

.search_desktop {
  display: none;
}

nav .search:hover,
nav .search:focus {
  border: 2px solid var(--headline);
  outline: none;
}

.top_container {
  margin: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
}

.topInner_container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-top: 140px;
}

.logo_container img {
  width: 70px;
  height: 70px;
}

.nav_container {
  background-image: url(/images//icons8-menu-72\(@3x\).png);
  background-size: cover;
  margin-left: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
}

.logo_container {
  margin: auto;
}

.header_img {
  width: 100%;
  height: 140px;
  background-image: url(/images/jupiter.jpg);
  background-position: center 42%;
  background-size: 180%;
  background-repeat: no-repeat;
  margin-top: 90px;
}

.breadcrumbs,
footer p {
  font-size: 0.8rem;
  width: 90%;
  max-width: 430px;
  margin: 5px auto;
}

.breadcrumbs p {
  display: inline-block;
}

/* Homepage */

.headline_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.headline_container p {
  font-family: "Baskerville", serif;
  font-weight: 700;
  color: var(--dark);
}

h1 {
  font-family: "impact", "impactreg", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
  color: var(--headline);
}

.latest_container {
  width: 100%;
  max-width: 390px;
  margin: 60px auto;
  position: relative;
}

.left_arrow,
.right_arrow {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 25px;
  background-image: url(/images/arrow.png);
  background-size: 100%;
}

.right_arrow {
  right: 0;
  transform: rotateY(180deg);
}

.latestPosts_container {
  width: 70%;
  max-width: 200px;
  margin: auto;
  text-align: center;
}

.latestPosts_container h2 {
  font-family: "impact", "impactreg", sans-serif;
  color: var(--dark);
  text-transform: uppercase;
}

.latestPosts_container h3 {
  font-family: "impact", "impactreg", sans-serif;
  color: var(--headline);
  letter-spacing: 2px;
}

.latestPosts_container .latest_image,
.result_item .latest_image {
  width: 200px;
  height: 120px;
  /* background-image: url(/images/jupiter-zoomed.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 20px auto;
}

.carousel_container {
  width: 100%;
  overflow: hidden;
}

.carousel_images {
  display: flex;
  width: 100%;
  height: 200px;
  transition: transform 0.4s ease-in-out;
}

.carousel_images-desktop,
.carousel_images-desktop2 {
  display: none;
}

.dots__container {
  width: 100px;
  height: 50px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.one,
.two,
.three {
  width: 20px;
  height: 20px;
  background-color: var(--lightBrown);
  border-radius: 50%;
  display: inline-block;
  animation: jump 1s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.two {
  animation-delay: 0.3s;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  background-color: unset;
}

.main_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 350px;
  height: 90px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: var(--dark);
}

.main_card h2 {
  font-family: "impact", "impactreg", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.main_card h2:hover {
  text-decoration: underline;
}

.main_card:nth-child(2),
.main_card:nth-child(4) {
  background-color: var(--lightBrown);
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

footer p {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 60px auto 30px;
}

/*/ Homepage */

/* About */

.main_section {
  margin-top: 70px;
}

.main_section h1 {
  margin-bottom: 30px;
}

.main_section p {
  width: 60%;
  max-width: 300px;
  font-weight: 500;
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
}

/*/ About */

/* Blog */

.blog_section p {
  width: unset;
  font-weight: 700;
  font-family: "baskerville", serif;
  margin-bottom: unset;
}

.blog_post {
  width: 90%;
  max-width: 550px;
  margin: auto;
}

.blog_post p {
  padding-bottom: 20px;
}

.blog_header {
  align-items: unset;
}

.blog_header h2 {
  font-family: "impact", "impactreg", sans-serif;
  color: var(--headline);
  letter-spacing: 1px;
}

.blog_post .blog_meta {
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  padding: 10px 0;
}

.blog_image {
  background-image: url(/images/jupiter-zoomed.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 300px;
  margin-bottom: 30px;
}

.cta_button {
  display: block;
  margin: 40px auto;
  width: 100px;
  height: 40px;
  background-color: var(--lightBrown);
  color: white;
  font-family: "impact", "impactreg", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.contact_button {
  border-radius: 5px;
}

.blogpage_container h1 {
  text-align: center;
}

.blogpage_container .blog_meta {
  padding: 3px 0;
  color: var(--dark);
}

.blogpage_container .blog_meta:nth-child(3) {
  font-size: 13px;
}

/*/ Blog */

/* Categories */

.categories_container {
  flex-direction: row;
  height: unset;
  flex-wrap: wrap;
}

.categories_container .main_card {
  width: 180px;
  height: 200px;
}

.categories_container .main_card:nth-child(3) {
  background-color: var(--lightBrown);
}

.categories_container .main_card:nth-child(4) {
  background-color: var(--dark);
}

/*/ Categories */

/* Contact */

.contact_container {
  width: 85%;
  max-width: 440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact_container div {
  display: flex;
  flex-direction: column;
}

.contact_container div:nth-child(2) {
  margin-top: 15px;
}

.contact_container input {
  height: 50px;
  font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.contact_container input,
.contact_container textarea {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 3px 3px 20px rgba(79, 70, 62, 0.5);
  -webkit-appearance: none;
  -webkit-box-shadow: 3px 3px 20px rgba(79, 70, 62, 0.5);
}

.contact_container input:not(:last-child) {
  margin-bottom: 15px;
}

.contact_container input:hover,
.contact_container input:focus,
.contact_container textarea:hover,
.contact_container textarea:focus {
  outline-color: var(--headline);
  border: 2px solid var(--headline);
}

.contact_container label {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.error_message {
  color: red;
  font-size: 13px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  display: none;
}

.error_textarea {
  padding-top: 10px;
}

.thankyou_message {
  text-align: center;
  display: none;
}

.thankyou_message h3 {
  color: var(--lightBrown);
  font-size: 2rem;
}

.thankyou_message p {
  font-size: 1rem;
  margin: 20px auto;
}

/*/ Contact */

/* Search */

.search_results {
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.result_item {
  width: 250px;
  text-align: center;
  margin: auto;
}

/*/ Search */

/*/Mobile*/

/* Desktop*/

@media only screen and (min-width: 900px) {
  .indexBody {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    background-color: black;
    background-image: url(/images/jupiter.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    background-image: url(/images/jupiter.jpg);
    background-position: right;
    background-size: 140%;
    background-repeat: no-repeat;
    height: 250px;
  }

  .top_container {
    max-width: 1000px;
  }

  .topInner_container {
    all: unset;
  }

  .logo_container,
  .close,
  .search_mobile,
  .header_img,
  .breadcrumbs,
  .main_container,
  .back_button {
    display: none;
  }

  .search_desktop {
    display: block;
  }

  .nav_container {
    all: unset;
    display: block;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
    margin-right: 20px;
  }

  .nav_mobile {
    display: none;
  }

  .nav_section {
    margin-top: unset;
    padding-top: 100px;
  }

  nav ul {
    all: unset;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  nav a {
    font-size: 1.2rem;
    color: var(--light);
  }

  .main_index {
    background-color: black;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    margin: auto 10px auto auto;
  }

  .back_button-desktop {
    display: block;
    top: 45px;
  }

  .headline_container {
    margin: auto;
    padding: 45px;
    padding-top: 110px;
  }

  .headline_container p {
    color: var(--headline);
  }

  .headline_container h1 {
    color: var(--light);
  }

  .main_section {
    width: 600px;
    position: relative;
    align-items: unset;
  }

  .main_section h1,
  .blogpage_container h1 {
    color: var(--headline);
    width: 100%;
    padding-top: 50px;
  }

  .main_section p {
    color: var(--dark);
    width: 80%;
    max-width: unset;
  }

  .blog_header,
  .blogpage_container {
    background-image: unset;
    height: unset;
    padding: 0;
  }

  .header_index {
    background-image: unset;
  }

  .blog_section {
    align-items: center;
  }

  .blog_section h1 {
    padding-top: unset;
    width: unset;
  }

  .blog_section p {
    width: unset;
  }

  .blog_image {
    margin-top: 30px;
    height: 500px;
  }

  .blog_post {
    width: 100%;
    max-width: 800px;
  }

  .latest_container {
    all: unset;
    display: block;
    position: relative;
    width: 600px;
    margin: auto;
  }

  .latestPosts_container a:nth-child(2),
  .latestPosts_container a:nth-child(3),
  .latestPosts_container a:nth-child(4) {
    display: block;
  }

  .left_arrow,
  .right_arrow {
    background-image: url(/images/arrow-light.png);
    top: 190px;
  }

  .latestPosts_container {
    width: 450px;
    max-width: unset;
  }

  .latestPosts_container h2,
  .latestPosts_container h3 {
    color: var(--light);
    text-align: left;
  }

  .latestPosts_container article {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    flex-shrink: 0;
  }

  .carousel_container {
    display: flex;
  }

  .carousel_images {
    height: 480px;
  }

  .carousel_images-mobile,
  .carousel_images-desktop,
  .carousel_images-desktop2 {
    display: flex;
  }

  .latestPosts_container a {
    width: 200px;
  }

  .categories_container {
    display: flex;
    width: 800px;
  }

  .categories_container .main_card:nth-child(3) {
    background-color: var(--dark);
  }

  .categories_container .main_card:nth-child(4) {
    background-color: var(--lightBrown);
  }

  .contact_container {
    width: 700px;
    max-width: unset;
    flex-direction: unset;
  }

  .contact_container div {
    width: inherit;
  }

  .contact_container form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }

  .contact_container div:nth-child(2) {
    margin-top: unset;
  }

  .contact_container textarea {
    height: 100%;
  }

  .contact_button {
    height: 70px;
  }

  .search_content {
    position: relative;
  }

  .search_input {
    display: none;
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    background-color: var(--lightBrown);
    color: black;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
  }

  nav .search,
  nav .search:hover {
    border: none;
  }

  .search_results {
    width: unset;
    max-width: unset;
  }

  .open {
    display: block;
  }

  .fa-magnifying-glass {
    color: var(--light);
  }

  footer p {
    color: white;
  }

  .footer_section p {
    color: black;
  }
}

/*/ Desktop*/
