@font-face {
  font-family: "impactreg";
  src: url("/impactreg/impactreg.eot");
  src: local("impactreg"), url("/impactreg/impactreg.woff") format("woff"),
    url("/impactreg/impactreg.ttf") format("truetype");
}

:root {
  --dark: #4f463e;
  --headline: #b67746;
  --white: #ffffff;
  --lightBrown: #9b8571;
  --light: #ffdfba;
  --lightBlue: #d0e3ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--dark);
}

button {
  all: unset;
  cursor: pointer;
}

/*Mobile*/

body {
  width: 100vw;
  position: relative;
}

header {
  width: 100%;
}

.active {
  text-decoration: underline;
}

.close {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-image: url(/images/icons8-close-50.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: relative;
  background-color: #d0e3ef;
  width: 95vw;
  max-width: 440px;
  height: 80vh;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 50vw;
  max-width: 440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav li {
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 1.7rem;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

nav .search {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark);
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  display: none;
  background-image: url(/images/search.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right;
}

.search_desktop {
  display: none;
}

nav .search:hover,
nav .search:focus {
  border: 2px solid var(--headline);
  outline: none;
}

.top_container {
  margin: auto;
  width: 100%;
  max-width: 460px;
}

.topInner_container {
  display: flex;
  justify-content: start;
  position: relative;
  margin-top: 80px;
}

.logo_container img {
  width: 70px;
  height: 70px;
}

.nav_container {
  background-image: url(/images//icons8-menu-72\(@3x\).png);
  margin-left: 10px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.logo_container {
  margin: auto;
}

.header_img {
  width: 100%;
  height: 80px;
  background-image: url(/images/jupiter.jpg);
  background-position: center 42%;
  background-size: 180%;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.breadcrumbs,
footer p {
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-size: 0.8rem;
  width: 90%;
  max-width: 430px;
  margin: 5px auto;
}

.breadcrumbs p {
  display: inline-block;
}

/* Homepage */

.headline_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.headline_container p {
  font-family: "Baskerville", serif;
  font-weight: 700;
  color: var(--dark);
}

h1 {
  font-family: "impact", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
  color: var(--headline);
}

.latest_container {
  width: 100%;
  max-width: 430px;
  margin: 60px auto;
  position: relative;
}

.left_arrow,
.right_arrow {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 25px;
  background-image: url(/images/arrow.png);
  background-size: 100%;
}

.right_arrow {
  right: 0;
  transform: rotateY(180deg);
}

.latestPosts_container {
  width: 70%;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.latestPosts_container h2 {
  font-family: "impact", sans-serif;
  color: var(--dark);
  text-transform: uppercase;
}

.latestPosts_container h3 {
  font-family: "impact", sans-serif;
  color: var(--headline);
  letter-spacing: 2px;
}

.latestPosts_container .latest_image {
  height: 120px;
  background-image: url(/images/jupiter-zoomed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 20px auto;
}

.latestPosts_container a:nth-child(2),
.latestPosts_container a:nth-child(3),
.latestPosts_container a:nth-child(4) {
  display: none;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  background-color: unset;
}

.main_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 350px;
  height: 90px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: var(--dark);
}

.main_card h2 {
  font-family: "impact", sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.main_card h2:hover {
  text-decoration: underline;
}

.main_card:nth-child(2),
.main_card:nth-child(4) {
  background-color: var(--lightBrown);
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

footer p {
  text-align: center;
  margin: 60px auto 30px;
}

/*/ Homepage */

/* About */

.main_about h1 {
  margin-bottom: 30px;
}

.main_about p {
  width: 60%;
  max-width: 300px;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

/*/ About */

/*/Mobile*/

/* Desktop*/

@media only screen and (min-width: 900px) {
  .indexBody {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    background-color: black;
    background-image: url(/images/jupiter.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top_container {
    max-width: 1000px;
  }

  .topInner_container {
    all: unset;
  }

  .logo_container,
  .close,
  .search_mobile,
  .header_img,
  .breadcrumbs,
  .main_container {
    display: none;
  }

  .search_desktop {
    display: block;
  }

  .nav_container {
    all: unset;
    display: block;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: end;
    margin-top: 150px;
    margin-right: 20px;
  }

  nav ul {
    all: unset;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  nav a {
    font-size: 1.2rem;
    color: var(--light);
  }

  .main_index {
    background-color: black;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: auto 10px auto auto;
  }

  .headline_container {
    margin: auto;
    padding: 45px;
  }

  .headline_container p {
    color: var(--headline);
  }

  .headline_container h1 {
    color: var(--light);
  }

  .latest_container {
    all: unset;
    display: block;
    position: relative;
    width: 600px;
    margin: auto;
  }

  .latestPosts_container a:nth-child(2),
  .latestPosts_container a:nth-child(3),
  .latestPosts_container a:nth-child(4) {
    display: block;
  }

  .latestPosts_container {
    width: 450px;
    max-width: unset;
  }

  .latestPosts_container h2,
  .latestPosts_container h3 {
    color: var(--light);
    text-align: left;
  }

  .latestPosts_container article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .latestPosts_container a {
    width: 200px;
  }

  footer p {
    color: white;
  }
}

/*/ Desktop*/
